@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caviar Dreams', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #FF811C;
  background: -moz-linear-gradient(top, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
  background: -webkit-linear-gradient(top, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
  background: linear-gradient(to bottom, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
  /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
}
::selection{
  background: #747273;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, rgb(20, 196, 78), #e7801f);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #fcc883;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #f59415;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,  rgb(20, 196, 78), #e7801f);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.header {
	
	border: 1px solid #a2a2a2;
	background: #FF811C;
	background: -moz-linear-gradient(left, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
	background: -webkit-linear-gradient(left, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
	background: linear-gradient(to right, #FF811C 0%, #FFFFFF 50%, #11631A 100%);
  /* background-color: #f4f4f4;
  overflow: hidden; */
    font-family: 'Caviar Dreams' , sans-serif;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.main-nav a:hover {
    background-color: white;
    color: black;
  }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .guideh1{
      color: #ddd;
      font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
      font-size: xx-large;
  }
  
  h2,
  h3,
  a {
      color: #34495e;
  }
  
  a {
      text-decoration: none;
  }
  
  
  
  .logo {
      margin: 0;
      font-size: 1.7em;
  }
  
  .main-nav {
      margin-top: 0px;
  
  }
  .ctext-sm, .ctext-gray-500{
      color: black;
  }
  
  .logo a{
    
      padding: 8px 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
    
  }
  .main-nav a {
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .ltext-gray-600, .lml-1{
      color: rgb(0, 0, 0);
  }
  .anthem{
      padding-left: 120px;
  }
  .main-nav a {
      color: #ffffff;
      font-size: .99em;
  }


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		
			width: 100%;
			margin: 0 auto;
			max-width:1370px;
		  
       
  }
  
  
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
    justify-content: space-between;
    
	}

}

.guidelines ul{
	color: #ddd;
	margin-bottom: 15px;
}
